
// VARIABLES
// ------------------  colores  ---------------------

	$rojo: #9e4545;
	$azul: #325095;
	$gris: #4d4d4d;



// ------------------  titulo  ---------------------
.title {
	text-align: center;
}
