.mensaje {
	width: 760px;
	padding: 0px;
	margin: 20px auto 0 auto;
	border-radius: 0px;
	background-color: #FFFFFF;
	color: #fff;
	font-family: Tahoma;
}
.mensaje a {color:#999999; text-decoration:none;}
.mensaje a:hover {text-decoration:underline;}
